:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Debug */

.debug {
    * {
        border: 1px dotted black;
        min-height: 50px;
    }

    .col {
        width: auto;
        flex-basis: auto;
        flex-grow: 1;
        background-color: palevioletred;
    }
    
    .col1 {
        width: calc(100%/12*1);
        background-color: blueviolet;
    }
    
    .col2 {
        width: calc(100%/12*2);
        background-color: brown;
    }
    
    .col3 {
        width: calc(100%/12*3);
        background-color: cornflowerblue;
    }
    
    .col4 {
        width: calc(100%/12*4);
        background-color: aquamarine;
    }
    
    .col5 {
        width: calc(100%/12*5);
        background-color: chocolate;
    }
    
    .col6 {
        width: 50%;
        background-color: darkgoldenrod;
    }
    
    .col7 {
        width: calc(100%/12*7);
        background-color: palegreen;
    }
    
    .col8 {
        width: calc(100%/12*8);
        background-color: paleturquoise;
    }
    
    .col9 {
        width: calc(100%/12*9);
        background-color: darkorchid;
    }
    
    .col10 {
        width: calc(100%/12 *10);
        background-color: darkcyan;
    }
    
    .col11 {
        width: calc(100%/12*11);
        background-color: deepskyblue;
    }
    
    .col12 {
        width: 100%;
        background-color: bisque;
    }
}

/* Body */

body  {

    /* Common */

    img {
        max-width: 100%;
    }
    
    /* Utility classes */
    
    .width-100 {
        width: 100%;
    }
    
    .height-100 {
        height: 100%;
    }
    
    .min-height {
        min-height: 50px;
    }
    
    .margin-auto {
        margin: 0 auto;
    }
    
    .min-margin {
        margin: 5px;
    }
    
    .min-padding {
        padding: 5px;
    }
    
    .border-radius-50 {
        border-radius: 50%;
    }
    
    .border-radius-100 {
        border-radius: 100%;
    }
    
    .flex-row {
        display: flex;
        flex-direction: row;
    }
    
    .flex-col {
        display: flex;
        flex-direction: column;
    }
    
    .justify-start {
        justify-content: start;
    }
    
    .justify-center {
        justify-content: center;
    }
    
    .justify-end {
        justify-content: end;
    }
    
    .justify-between {
        justify-content: space-between;
    }
    
    .justify-around {
        justify-content: space-around;
    }
    
    .justify-evenly {
        justify-content: space-evenly;
    }
    
    .align-start {
        align-items: start;
    }
    
    .align-center {
        align-items: center;
    }
    
    .align-end {
        align-items: end;
    }
    
    .align-stretch {
        align-items: stretch;
    }
    
    .flex-wrap {
        flex-wrap: wrap;
    }
    
    .min-gap {
        gap: 10px;
    }
    
    .flex-grow {
        flex-grow: 1;
    }
    
    .text-align-left {
        text-align: left;
    }
    
    .text-align-center {
        text-align: center;
    }
    
    .text-align-right {
        text-align: right;
    }
    
    .text-align-justify {
        text-align: justify;
    }
    
    .bold {
        font-weight: 700;
    }
    
    .semibold {
        font-weight: 500;
    }
    
    .font-small {
        font-size: 0.5rem;
    }
    
    .font-big {
        font-size: 1.5rem;
    }
    
    .col {
        width: auto;
        flex-basis: auto;
        flex-grow: 1;
    }
    
    .col1 {
        width: calc(100%/12*1);
    }
    
    .col2 {
        width: calc(100%/12*2);
    }
    
    .col3 {
        width: calc(100%/12*3);
    }
    
    .col4 {
        width: calc(100%/12*4);
    }
    
    .col5 {
        width: calc(100%/12*5);
    }
    
    .col6 {
        width: 50%;
    }
    
    .col7 {
        width: calc(100%/12*7);
    }
    
    .col8 {
        width: calc(100%/12*8);
    }
    
    .col9 {
        width: calc(100%/12*9);
    }
    
    .col10 {
        width: calc(100%/12 *10);
    }
    
    .col11 {
        width: calc(100%/12*11);
    }
    
    .col12 {
        width: 100%;
    }

}

/* Header */

#header {
    width: 100%;
}

/* Main */

#main {
    width: 100%;
}

/* Footer */

#footer {
    width: 100%;
}

/* Media queries */

@media screen and (min-width: 480px) {
    body {
        width: 100%;
    }

    .flex-row-s {
        display: flex;
        flex-direction: row;
    }
    
    .flex-col-s {
        display: flex;
        flex-direction: column;
    }
    
    .justify-start-s {
        justify-content: start;
    }
    
    .justify-center-s {
        justify-content: center;
    }
    
    .justify-end-s {
        justify-content: end;
    }
    
    .justify-between-s {
        justify-content: space-between;
    }
    
    .justify-around-s {
        justify-content: space-around;
    }
    
    .justify-evenly-s {
        justify-content: space-evenly;
    }
    
    .align-start-s {
        align-items: start;
    }
    
    .align-center-s {
        align-items: center;
    }
    
    .align-end-s {
        align-items: end;
    }
    
    .align-stretch-s {
        align-items: stretch;
    }
    
    .flex-wrap-s {
        flex-wrap: wrap;
    }

    .col-s {
        width: auto;
        flex-basis: auto;
        flex-grow: 1;
    }
    
    .col1-s {
        width: calc(100%/12*1);
    }
    
    .col2-s {
        width: calc(100%/12*2);
    }
    
    .col3-s {
        width: calc(100%/12*3);
    }
    
    .col4-s {
        width: calc(100%/12*4);
    }
    
    .col5-s {
        width: calc(100%/12*5);
    }
    
    .col6-s {
        width: 50%;
    }
    
    .col7-s {
        width: calc(100%/12*7);
    }
    
    .col8-s {
        width: calc(100%/12*8);
    }
    
    .col9-s {
        width: calc(100%/12*9);
    }
    
    .col10-s {
        width: calc(100%/12 *10);
    }
    
    .col11-s {
        width: calc(100%/12*11);
    }
    
    .col12-s {
        width: 100%;
    }

}

@media screen and (min-width: 768px) {
    body {
        width: 100%;
    }

    .flex-row-m {
        display: flex;
        flex-direction: row;
    }
    
    .flex-col-m {
        display: flex;
        flex-direction: column;
    }
    
    .justify-start-m {
        justify-content: start;
    }
    
    .justify-center-m {
        justify-content: center;
    }
    
    .justify-end-m {
        justify-content: end;
    }
    
    .justify-between-m {
        justify-content: space-between;
    }
    
    .justify-around-m {
        justify-content: space-around;
    }
    
    .justify-evenly-m {
        justify-content: space-evenly;
    }
    
    .align-start-m {
        align-items: start;
    }
    
    .align-center-m {
        align-items: center;
    }
    
    .align-end-m {
        align-items: end;
    }
    
    .align-stretch-m {
        align-items: stretch;
    }
    
    .flex-wrap-m {
        flex-wrap: wrap;
    }

    .col-m {
        width: auto;
        flex-basis: auto;
        flex-grow: 1;
    }
    
    .col1-m {
        width: calc(100%/12*1);
    }
    
    .col2-m {
        width: calc(100%/12*2);
    }
    
    .col3-m {
        width: calc(100%/12*3);
    }
    
    .col4-m {
        width: calc(100%/12*4);
    }
    
    .col5-m {
        width: calc(100%/12*5);
    }
    
    .col6-m {
        width: 50%;
    }
    
    .col7-m {
        width: calc(100%/12*7);
    }
    
    .col8-m {
        width: calc(100%/12*8);
    }
    
    .col9-m {
        width: calc(100%/12*9);
    }
    
    .col10-m {
        width: calc(100%/12 *10);
    }
    
    .col11-m {
        width: calc(100%/12*11);
    }
    
    .col12-m {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    body {
        width: 100%;
    }

    .flex-row-l {
        display: flex;
        flex-direction: row;
    }
    
    .flex-col-l {
        display: flex;
        flex-direction: column;
    }
    
    .justify-start-l {
        justify-content: start;
    }
    
    .justify-center-l {
        justify-content: center;
    }
    
    .justify-end-l {
        justify-content: end;
    }
    
    .justify-between-l {
        justify-content: space-between;
    }
    
    .justify-around-l {
        justify-content: space-around;
    }
    
    .justify-evenly-l {
        justify-content: space-evenly;
    }
    
    .align-start-l {
        align-items: start;
    }
    
    .align-center-l {
        align-items: center;
    }
    
    .align-end-l {
        align-items: end;
    }
    
    .align-stretch-l {
        align-items: stretch;
    }
    
    .flex-wrap-l {
        flex-wrap: wrap;
    }

    .col-l {
        width: auto;
        flex-basis: auto;
        flex-grow: 1;
    }
    
    .col1-l {
        width: calc(100%/12*1);
    }
    
    .col2-l {
        width: calc(100%/12*2);
    }
    
    .col3-l {
        width: calc(100%/12*3);
    }
    
    .col4-l {
        width: calc(100%/12*4);
    }
    
    .col5-l {
        width: calc(100%/12*5);
    }
    
    .col6-l {
        width: 50%;
    }
    
    .col7-l {
        width: calc(100%/12*7);
    }
    
    .col8-l {
        width: calc(100%/12*8);
    }
    
    .col9-l {
        width: calc(100%/12*9);
    }
    
    .col10-l {
        width: calc(100%/12 *10);
    }
    
    .col11-l {
        width: calc(100%/12*11);
    }
    
    .col12-l {
        width: 100%;
    }
}